@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;700&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
  --pure-white: #FFFFFF;
  --ghost-white: #F8F8FF;
  --snow: #FFFAFA;
  --ivory: #FFFFF0;
  --floral-white: #FFFAF0;
  --seashell: #FFF5EE;
  --old-lace: #FDF5E6;
  --white-smoke: #F5F5F5;
  --gainsboro: #DCDCDC;
  --light-gray: #D3D3D3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--pure-white);
  background: var(--background);
  font-family: 'Merriweather Sans', Arial, Helvetica, sans-serif;
}

.font-merriweather-sans {
  font-family: 'Merriweather Sans', sans-serif;
}

.terminal-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.terminal-scrollbar::-webkit-scrollbar-track {
  background: #000; /* Same as terminal background */
}

.terminal-scrollbar::-webkit-scrollbar-thumb {
  background: #333; /* Same as terminal background */
  border-radius: 4px;
}

.terminal-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #333; /* Slightly lighter for hover effect */
}

.command {
  color: darkgreen;
  font-weight: bold;
}

.output {
  color: white;
}

.error {
  color: darkred;
}

.bg-darkBlue {
  background-color: #1a1a2e;
}

.text-lightGray {
  color: #eaeaea;
}

.border-lightBlue {
  border-color: #0f4c75;
}

.text-lightBlue {
  color: #0f4c75;
}

.bg-lightBlue {
  background-color: #0f4c75;
}

.hover\:bg-darkBlue:hover {
  background-color: #1a1a2e;
}

.hover\:text-lightGray:hover {
  color: #eaeaea;
}

/* Animation styles */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-out forwards;
}

.fade-out {
  animation: fadeOut 0.5s ease-out forwards;
}

.text-ghost-white {
  color: var(--ghost-white);
}

.text-snow {
  color: var(--snow);
}

.text-ivory {
  color: var(--ivory);
}

.text-floral-white {
  color: var(--floral-white);
}

.text-seashell {
  color: var(--seashell);
}

.text-old-lace {
  color: var(--old-lace);
}

.text-white-smoke {
  color: var(--white-smoke);
}

.text-gainsboro {
  color: var(--gainsboro);
}

.text-light-gray {
  color: var(--light-gray);
}
